# IntelliJ IDEA
.idea/
*.iml
out/

# Java
*.class

# Carpetas de compilación
bin/
build/

# Librería local (opcional: descomenta si NO quieres subir el JAR)
# lib/gson-2.10.1.jar

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code (por si acaso)
.vscode/